.slider {
  height: calc(760px - 80px);
  width: 100%;
  position: relative;
  overflow: hidden;

  h1 {
    position: absolute;
    z-index: 10;
    top: 30%;
    right: 0%;
    font-size: 6rem;
    width: 40%;

    span {
      background: linear-gradient(168deg, #00388b, #d7002a);
      color: white;
    }
  }

  .container {
    width: 300vw;
    height: 100%;
    display: flex;
    // transform: translateX(-100vw);
    transition: all 1s ease;

    img {
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
  }

  .icons {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    display: flex;
    bottom: 100px;
    gap: 10px;

    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #999;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: transparent;
      transition: all 0.3s ease;

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
